#tela{
   display: flex;
   flex-direction: column;
   position: relative;
   justify-content: center;
}
#inicio{
    display: flex;
    justify-content: center;
}
#centro{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-95%);
}
#secao{
    text-align: center;

}
#bolo{
    width: 100px;
    height: 100px;
}
#FAK{
    color: rgb(255, 136, 136);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#osaka{
    width: 50px;
    height: 50px;
}
#img_album{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
#titulo{
    text-align: center;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
}
#bar{
    height: 5px;
    width: 150px;
    background-color: #708090;
    border-radius: 3px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}
#progessbar{
    height: 6px;
    width: 50%;
    background-color: #3c0080;
    border-radius: 3px;
}.duracao{
    display:flex;
}
.Tempo{
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.sli{
    width: 50px;
    height: 50px;
    flex: 1;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #3c0080;
    background: linear-gradient(180deg, rgb(129, 8, 99) 0%, rgb(95, 1, 99) 63%, rgb(171, 46, 202) 100%);
    border-radius: 7px;
}
.elementos{
    color: rgb(255, 136, 136);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(220%);

}
.confirm{
    display: flex;
    flex-direction: column;
    background: #3c0080;
    background: linear-gradient(132deg, rgba(60, 0, 128, 1) 0%, rgba(9, 9, 173, 1) 99%);
    text-align: center;
    width: 350px;
    height: 350px;
    box-shadow:slateblue;
    border-radius: 15px;
    border-style: double;
    border-color: rgb(90, 0, 143);
    justify-content: center;
}
.elem{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 300px;
    height: 50px; 
    font-size: large;
    border-radius: 10px;
}
.musica{
    display: flex;
    justify-content: center;
    transform: translateY(80%);
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    
}
.player{
    display: flex;
    text-align: center;
    justify-content: center;
}

body{
    display:flex;
    justify-content:center;
    background: #020024;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(2, 47, 209, 1) 63%, rgba(0, 212, 255, 1) 100%);
    margin: 0;
    height: 100vh;
    overflow: hidden;  
}

/* livro com palavras */
.livro{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    width: 350px;
    height: 480px;
    border-radius: 15px;
    animation: vira 1s linear;

}
.folha{
    display: block;
    background-color: rgb(245, 232, 178);
    justify-content: center;
    width: 320px;
    height: 450px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 10px;
    margin: 0%;
}
.livroui{
    display: block;
    position: relative;
    width: 350px;
    justify-content: center;

}
.paragrafo{
    font-size: 9pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ui{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.imagem{
    width: 70px;
    height: 70px;                                           
    transform: translateY(5px);
}
.album{
    text-align: center;
}
#folha{
    display: block;
    transform: translateY(3%);
    transform: translateX(1%);
    background-color: rgb(245, 232, 178);
}
#marcador{
    display: flex;
    background-color: rgb(255, 0, 0);
    width: 40px;
    height: 40px;
    margin: 0%;
    transform: translateY(-5px);
}
#triangulo{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid rgb(245, 232, 178);
    transform: translateY(20px);
}
#ant{
    width: 0;
    height: 0;
    border-bottom: 30px solid transparent;
	border-top: 30px solid transparent;
	border-right: 50px solid rgb(255, 114, 20);
    border-radius: 6px;
    flex:1;
}
#fim{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(255, 114, 20);
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    text-align: center;

}
#sus{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(255, 114, 20);
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    text-align: center;
    background: #3c0080;
    background: linear-gradient(132deg, rgb(230, 169, 37) 0%, rgb(199, 163, 4) 99%);
    
}
#vem{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
#polaroid{
    width: 90px;
    height: 100px;
    background-color: white;
    text-align: center;
    margin: 2px;

}
#p1{
    display: flex;
    margin: 5px;
    height: 120px;
}
#p2{
    display: flex;
    margin: 5px;
    height: 200px;
    margin-bottom: 0%;
    margin-top: 0%;
}
#p3{
    display: flex;
    margin: 5px;
    height: 120px;
}
#texto{
    height: 100px;
    width: 180px;
}
#vem{
    width: 40px;
    height: 40px;
}
#confetes{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
#Entrar{
    background-color: rgb(89, 126, 248);
    color:white;
    border-color: rgb(89, 126, 248);
    background: #3c0080;
    background: linear-gradient(132deg, rgb(42, 194, 240) 0%, rgb(37, 95, 170) 99%);
}
#voltar{
    width: 50px;
    height: 50px;
    transform: rotateY(180deg);
}
#pause{
    width: 50px;
    height: 50px;
}
#proxima{
    width: 50px;
    height: 50px;
}
p{
    margin: 0;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}


@keyframes fogos {
  0% { transform: translate(var(--x), var(--initialY)); width: var(--tamanhoInicial); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--tamanhoFinal); opacity: 0; }
}
.fogos,
.fogos::before,
.fogos::after
{
  --tamanhoInicial: 0.5vmin;
  --tamanhoFinal: 45vmin;
  --tamanhoParticula: 0.2vmin;
  --cor1: #FFFFE0;
  --cor2: #FAEBD7;
  --cor3: #D2B48C;
  --cor4: #FFFACD;
  --cor5: #7B68EE;
  --cor6: #B0E0E6;
  --y: -30vmin;
  --x: -50%;
  --initialY: 60vmin;
  content: "";
  animation: fogos 4s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, var(--y));
  width: var(--tamanhoInicial);
  aspect-ratio: 1;
  background:     
    
    radial-gradient(circle, var(--cor1) var(--tamanhoParticula), #0000 0) 50% 0%,
    radial-gradient(circle, var(--cor2) var(--tamanhoParticula), #0000 0) 100% 50%,
    radial-gradient(circle, var(--cor3) var(--tamanhoParticula), #0000 0) 50% 100%,
    radial-gradient(circle, var(--cor4) var(--tamanhoParticula), #0000 0) 0% 50%,
    
    /* parte de baixo, lado direito */
    radial-gradient(circle, var(--cor5) var(--tamanhoParticula), #0000 0) 80% 90%,
    radial-gradient(circle, var(--cor6) var(--tamanhoParticula), #0000 0) 95% 90%,
    radial-gradient(circle, var(--cor1) var(--tamanhoParticula), #0000 0) 90% 70%,
    radial-gradient(circle, var(--cor2) var(--tamanhoParticula), #0000 0) 100% 60%,
    radial-gradient(circle, var(--cor3) var(--tamanhoParticula), #0000 0) 55% 80%,
    radial-gradient(circle, var(--cor4) var(--tamanhoParticula), #0000 0) 70% 77%,
    
    /* parte de baixo, lado esquerdo */
    radial-gradient(circle, var(--cor5) var(--tamanhoParticula), #0000 0) 22% 90%,
    radial-gradient(circle, var(--cor6) var(--tamanhoParticula), #0000 0) 45% 90%,
    radial-gradient(circle, var(--cor1) var(--tamanhoParticula), #0000 0) 33% 70%,
    radial-gradient(circle, var(--cor2) var(--tamanhoParticula), #0000 0) 10% 60%,
    radial-gradient(circle, var(--cor3) var(--tamanhoParticula), #0000 0) 31% 80%,
    radial-gradient(circle, var(--cor4) var(--tamanhoParticula), #0000 0) 28% 77%,
    radial-gradient(circle, var(--cor5) var(--tamanhoParticula), #0000 0) 13% 72%,
    
    /* parte de baixo, lado esquerdo */
    radial-gradient(circle, var(--cor6) var(--tamanhoParticula), #0000 0) 80% 10%,
    radial-gradient(circle, var(--cor1) var(--tamanhoParticula), #0000 0) 95% 14%,
    radial-gradient(circle, var(--cor2) var(--tamanhoParticula), #0000 0) 90% 23%,
    radial-gradient(circle, var(--cor3) var(--tamanhoParticula), #0000 0) 100% 43%,
    radial-gradient(circle, var(--cor4) var(--tamanhoParticula), #0000 0) 85% 27%,
    radial-gradient(circle, var(--cor5) var(--tamanhoParticula), #0000 0) 77% 37%,
    radial-gradient(circle, var(--cor6) var(--tamanhoParticula), #0000 0) 60% 7%,
    
    /* parte de cima, lado direito */
    radial-gradient(circle, var(--cor1) var(--tamanhoParticula), #0000 0) 22% 14%,
    radial-gradient(circle, var(--cor1) var(--tamanhoParticula), #0000 0) 45% 20%,
    radial-gradient(circle, var(--cor1) var(--tamanhoParticula), #0000 0) 33% 34%,
    radial-gradient(circle, var(--cor1) var(--tamanhoParticula), #0000 0) 10% 29%,
    radial-gradient(circle, var(--cor1) var(--tamanhoParticula), #0000 0) 31% 37%,
    radial-gradient(circle, var(--cor1) var(--tamanhoParticula), #0000 0) 28% 7%,
    radial-gradient(circle, var(--cor1) var(--tamanhoParticula), #0000 0) 13% 42%
    ;
  background-size: var(--tamanhoInicial) var(--tamanhoInicial);
  background-repeat: no-repeat;
}

.fogos::before {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;

  transform: translate(-50%, -50%) rotate(40deg) scale(2) rotateY(40deg);
   animation: fogosPseudo 10s infinite; 
}

.fogos::after {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
  transform: translate(-50%, -50%) rotate(170deg) scale(.9) rotateY(-30deg); 
   animation: fogosPseudo 40s infinite; 
}

.fogos:nth-child(2) {
  --x: 40vmin;
  --y: -20vmin;
}

.fogos:nth-child(2),
.fogos:nth-child(2)::before,
.fogos:nth-child(2)::after {
  --cor1: #FFC0CB;
  --cor2: #EE82EE;
  --cor3: #FF00FF;
  --cor4: #DA70D6;
  --cor5: #DDA0DD;
  --cor6: #E6E6FA;  
  --tamanhoFinal: 40vmin;
  animation-delay: -45s;
}

.fogos:nth-child(3) {
  --x: 80vmin;
  --y: -40vmin;
}

.fogos:nth-child(3),
.fogos:nth-child(3)::before,
.fogos:nth-child(3)::after {
  --cor1: #AFEEEE;
  --cor2: #40E0D0;
  --cor3: #87CEFA;
  --cor4: #708090;
  --cor5: #E0FFFF;
  --cor6: #E6E6FA;
  --tamanhoFinal: 35vmin;
  animation-delay: -30s;
}


.fogos:nth-child(4) {
  --x: -30vmin;
  --y: -30vmin;
}

.fogos:nth-child(4),
.fogos:nth-child(4)::before,
.fogos:nth-child(4)::after {
  --cor1: #fff;
  --cor2: #bbb;
  --cor3: #ccc;
  --cor4: #ccc;
  --cor5: #bbb;
  --cor6: #fff;
  --tamanhoFinal: 100vmin;
  animation-delay: -15s;
}

.fogos:nth-child(5) {
  --x: -40vmin;
  --y: -40vmin;
}

.fogos:nth-child(5),
.fogos:nth-child(5)::before,
.fogos:nth-child(5)::after {
  --cor1: #FFC0CB;
  --cor2: #EE82EE;
  --cor3: #FF00FF;
  --cor4: #DA70D6;
  --cor5: #DDA0DD;
  --cor6: #E6E6FA;  
  --tamanhoFinal: 100vmin;
  animation-delay: -20s;
}