body{
    display: flex;
    align-items: center;

}
.confirm{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 20, 136);
    text-align: center;
    width: 350px;
    height: 350px;
    box-shadow:slateblue;
    border-radius: 30px;
    border-color: rgb(1, 1, 168);
    justify-content: center;
}
.elem{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 300px;
    height: 50px; 
    font-size: large;
    border-radius: 10px;
}
h2{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#Entrar{
    background-color: rgb(89, 126, 248);
    color:white;
    border-color: rgb(89, 126, 248);
}
